<%= render "shared/header" %>

<%# レシピ一覧 %>
 <div class='recipe-contents'>
   <ul class='recipe-lists'>
     <% @recipes.each do |recipe| %>
     <li class='-recipe-list'>
       <%= link_to recipes_path(recipe) do %>
     <div class='recipe-img-content'>
       <%= image_tag recipe.image, class: "recipe-img"%>
     </div>
     <div class='recipe-info'>
       <div class='recipe-title'>
          <%= recipe.title %>
       </div>
       <% end %>   
     </div>     
     </li>    
    <% end %>
  </ul>
 </div>    

