.recipe-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.recipe-lists {
  width: 100vw;
  display: flex;
  list-style: none;
  }



.recipe-img-content {
  position: relative;
  margin-left: 5vh;
}

.recipe-img {
  width: 30vh;
  height: 30vh;
}

.recipe-info {
  background-color: #FFF;
  margin-left: 5vh;
}

.recipe-title, a {
  font-size: 2.5vh;
  color: black;
  text-decoration: inherit;
}
